
<%if user_signed_in?%>

  <table class="table table-striped table-bordered table-hover">

    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Twitter</th>
        
        <th scope="col">Creator's E-mail</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>

      <% @friends.each do |friend| %>
        <tr>

          <%= render friend %>

          <td><%= link_to 'Delete', friend, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, 
                                            class: "btn btn-outline-warning btn-sm"%></td>    
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  <%= link_to "New friend", new_friend_path, class: "btn btn-outline-dark" %>

<%else%>
  <h1>Hello World</h1>
<%end%>